<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/login' }">Home</el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/customer' }"
        >Customer</el-breadcrumb-item
      >
      <el-breadcrumb-item>Cart</el-breadcrumb-item>
    </el-breadcrumb>
    <br />
    <el-card class="box-card">
      <!-- 用户列表区域 -->
      <el-row :gutter="24">
		<el-col :span="4" :offset="16">
			<el-input v-model="submit.address_id" placeholder="Please input address ID"></el-input>
		</el-col>
        <el-col :span="4" >
          <el-button type="primary" @click="CartSubmit()">Submit</el-button>
        </el-col>
      </el-row>
      <br />
      <el-table :data="cartList" :stripe="true" :border="true">
        <el-table-column prop="product_id" label="Product ID"></el-table-column>
        <el-table-column
          prop="product_name"
          label="Product Name"
        ></el-table-column>
        <el-table-column prop="quantity" label="Quantity"></el-table-column>
        <el-table-column prop="price" label="Price"></el-table-column>
        <el-table-column prop="size" label="Size"></el-table-column>
        <el-table-column lanel="total" label="SUM">
          <template slot-scope="scope">
            {{
              (scope.row.sum = scope.row.price * scope.row.quantity)
                | keepTwoNum
            }}
          </template>
        </el-table-column>
        <el-table-column label="operation">
          <template slot-scope="scope">
            <!-- 删除 -->
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="deletecartList(scope.row.product_id)"
              >Remove item</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.pagenum"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
      <!-- 删除购物车 -->
    </el-card>
  </div>
</template>

<script>
import api from "../http/api";

export default {
  data() {
    return {
      // 获取购物车列表的参数对象
      queryInfo: {
        // 查询参数
        query: "",
        // 当前的页码数
        pagenum: 1,
        // 每页显示多少条数据
        pagesize: 2,
      },
      // 获取的购物车列表
      cartList: [],
      // 总数
      total: 0,
      dialogVisible: false,
      submitDialogVisible: false,
      // 添加购物车的表单数据
      cartForm: {
        product_id: '',
        product_name: '',
        quantity: '',
        size: '',
      },
	  // 下拉框
	  submit:{
		  address_id:'',
	  }
    };
  },
  created() {
    this.getcarttList();
  },
  methods: {
    // 监听 pageSize 改变的事件
    handleSizeChange(newSize) {
      //   console.log(newSize)
      //  将监听接受到的每页显示多少条的数据 newSzie 赋值给 pagesize
      this.queryInfo.pagesize = newSize;
      //  修改完以后，重新发起请求获取一次数据
      this.getcartList();
    },
    // 监听 页码值  改变的事件
    handleCurrentChange(newPage) {
      //   console.log(newPage)
      //  将监听接受到的页码值的数据 newPage 赋值给 pagenum
      this.queryInfo.pagenum = newPage;
      //  修改完以后，重新发起请求获取一次数据
      this.getcartList();
    },
    // 监听添加用户对话框的关闭事件
    addDialogClosed() {
      this.$refs.addFormRef.resetFields();
    },
    get() {
      this.$router.go(0);
    },
    // 根据token获取cartList
    async getcarttList() {
      try {
        let result = await api.getCartList(
          {},
          { token: localStorage.getItem("Token") }
        );
        this.cartList = result.data.data;
        console.log('获取购物车');
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
    // 删除购物车列表
    async deletecartList(product_id) {
      try {
        let result = await api.deleteProductCart(
          { product_id: product_id },
          { token: localStorage.getItem("Token") }
        );
        console.log(result);
        this.get();
      } catch (error) {
        console.log(error);
      }
    },
    // 提交
    async CartSubmit() {
      try {
        let result = await api.submitCart(
          { address_id: this.$data.submit.address_id },
          { token: localStorage.getItem("Token") }
		    );
		    //this.get();
        console.log("提交成功");
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped></style>
