<template>
    <div>
        <el-row :gutter="20">
            <el-col :span="8">
                <el-input placeholder="Search" v-model="queryInfo.query" clearable @clear="getproductList()">
                    <el-button slot="append" icon="el-icon-search" @click="getproductList()"></el-button>
                </el-input>
            </el-col>
        </el-row>
        <br>
        <el-table :data="productList" :stripe="true" :border="true">
            <el-table-column prop="productname" label="Product ID"></el-table-column>
            <el-table-column prop="email" label="Product name"></el-table-column>
            <el-table-column prop="mobile" label="Image"></el-table-column>
            <el-table-column prop="role_name" label="Amount"></el-table-column>
            <el-table-column prop="role_name" label="Category"></el-table-column>
            <el-table-column prop="role_name" label="Product detail I"></el-table-column>
            <el-table-column prop="role_name" label="Product detail II"></el-table-column>
            <el-table-column prop="role_name" label="Price"></el-table-column>
            <el-table-column prop="role_name" label="Size"></el-table-column>
            <el-table-column label="operation">
                <template slot-scope="scope">
                    <!-- 修改 -->
                    <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditDialog(scope.row.id)"></el-button>
                    <!-- 删除 -->
                    <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeproductById(scope.row.id)"></el-button>
                </template>
            </el-table-column>
        </el-table>

                    <!-- 分页 -->
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="queryInfo.pagenum"
            :page-sizes="[10, 20, 50, 100]"
            :page-size="queryInfo.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
        </el-pagination>

    </div>
</template>

<script>
export default {
  data () {
    return {
      // 获取用户列表的参数对象
      queryInfo: {
        // 查询参数
        query: '',
        // 当前的页码数
        pagenum: 1,
        // 每页显示多少条数据
        pagesize: 2
      },
      // 获取的用户列表
      productList: [],
      // 总数
      total: 0,
      // 控制添加用户对话框的显示与隐藏，默认为隐藏
      dialogVisible: false,
      // 添加用户的表单数据
      addForm: {
        warehouseID: '',
        warehouseName: '',
        capacity: '',
        remainCapacity: '',
        state: '',
        city: '',
        street: '',
      },
      // 控制修改用户对话框的显示与隐藏，默认为隐藏
      editDialogVisible: false,
      // 查询到的用户信息对象
      editForm: {},
    }
  },
  created () {
    this.getproductList()
  },
  methods: {
    async getproductList () {
      const {data: res} = await this.$http.get('products', {
        params: this.queryInfo
      })
      if (res.meta.status !== 200) {
        return this.$message('获取用户列表失败！')
      }
      this.productList = res.data.products
      this.total = res.data.total
      console.log(res)
    },
    // 监听 pageSize 改变的事件
    handleSizeChange (newSize) {
    //   console.log(newSize)
    //  将监听接受到的每页显示多少条的数据 newSzie 赋值给 pagesize
      this.queryInfo.pagesize = newSize
      //  修改完以后，重新发起请求获取一次数据
      this.getproductList()
    },
    // 监听 页码值  改变的事件
    handleCurrentChange (newPage) {
    //   console.log(newPage)
    //  将监听接受到的页码值的数据 newPage 赋值给 pagenum
      this.queryInfo.pagenum = newPage
      //  修改完以后，重新发起请求获取一次数据
      this.getproductList()
    },
    
    // 监听添加用户对话框的关闭事件
    addDialogClosed () {
      this.$refs.addFormRef.resetFields()
    },
    // 点击按钮，添加新用户
    addproduct () {
      this.$refs.addFormRef.validate(async valid => {
        // 如果valid的值为true，说明预校验成功，反之则校验失败
        // console.log(valid)
        // 校验失败
        if (!valid) return
        // 校验成功，可以发起添加用户的网络请求
        const {data: res} = await this.$http.post('products', this.addForm)
        if (res.meta.status !== 201) {
          this.$message.error('添加用户失败！')
        }
        this.$message.success('添加用户成功！')
        // 隐藏添加用户的对话框
        this.dialogVisible = false
        // 重新获取用户列表数据
        this.getproductList()
      })
    },
    // 展示编辑用户的对话框
    async showEditDialog(id) {
      // console.log(id)
      const {data: res} = await this.$http.get('products/' + id)
      if (res.meta.status !== 200) {
        return this.$message.error('查询用户信息失败！')
      }
      this.editForm = res.data
      this.editDialogVisible = true
    },
    // 监听修改用户对话框的关闭
    editDialogClosed () {
      this.$refs.editFormRef.resetFields()
    },
    // 修改用户信息并且提交
    editproductInfo () {
      this.$refs.editFormRef.validate(async valid => {
        console.log(valid)
        if (!valid) return
        // 发起修改用户信息的数据请求
        const {data: res} = await this.$http.put('products/' + this.editForm.id, {
          email: this.editForm.email,
          mobile: this.editForm.mobile
        })
        if (res.meta.status !== 200) {
          return this.$message.error('更新用户信息失败！')
        }
        // 关闭对话框
        this.editDialogVisible = false
        // 更新数据列表
        this.getproductList()
        // 提示修改成功
        this.$message.success('更新用户信息成功！')
      })
    },
    // 根据id对应的用户信息
    async removeproductById (id) {
      // 弹框询问用户是否删除数据
      const confirmResult = await this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
        confirmButtonText: 'confirm',
        cancelButtonText: 'cancel',
        type: 'warning'
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })

      // 如果用户确认删除，则返回值为字符串 confirm
      // 如果用户取消删除，则返回值为字符串 cancel
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除')
      }

      // 发起删除用户信息的数据请求
      const {data: res} = await this.$http.delete('products/' + id)
      if (res.meta.status !== 200) {
        return this.$message.error('删除用户失败！')
      }
      // 提示删除成功
      this.$message.success('删除用户成功！')
      // 更新数据列表
      this.getproductList()
    }
  }
}
</script>

<style scoped>

</style>
