<template>
    <div id="CategoryProduct4">
      <el-card class="box-card">
        <el-col :span="8">
          <el-input placeholder="Search" v-model="searchInfo.sInfo" clearable @clear="getproductList()">
            <el-button slot="append" icon="el-icon-search" @click="searchProduct()"></el-button>
              </el-input>
        </el-col>
        <el-table :data="productList" :stripe="true" :border="true">
            <el-table-column prop="product_id" label="Product ID"></el-table-column>
            <el-table-column prop="product_name" label="Product name"></el-table-column>
            <el-table-column prop="amount" label="Amount"></el-table-column>
            <el-table-column prop="size" label="Size"></el-table-column>
            <el-table-column label="operation">
                <template slot-scope="scope">
                    <!-- 详细信息 -->
                    <el-button type="info" icon="el-icon-shopping-cart-2" size="mini" @click="showCartQuantity(scope.row.product_id)">Add to cart</el-button>
                    <!-- 添加购物车 -->
                    <el-button type="primary" icon="el-icon-goods" size="mini" @click="showProductInfo(scope.row.product_id)">Details</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="queryInfo.pagenum"
            :page-sizes="[10, 20, 50, 100]"
            :page-size="queryInfo.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
        </el-pagination>
        <!-- 显示产品详情 -->
      <el-dialog
            title="Product detail"
            :visible.sync="PDialogVisible"
            width="25%">
            <el-form :model="product_Info" :ref="product_Info" label-width="150px">
                <el-form-item label="Product name" prop="product_name">
                    <el-input v-model="product_Info.product_name"></el-input>
                </el-form-item>
                <el-form-item label="Category ID" prop="category_id">
                    <el-input v-model="product_Info.category_id"></el-input>
                </el-form-item>
                <el-form-item label="Size" prop="size">
                    <el-input v-model="product_Info.size"></el-input>
                </el-form-item>
                <el-form-item label="Amount" prop="amount">
                    <el-input v-model="product_Info.amount"></el-input>
                </el-form-item>
                <el-form-item label="Price" prop="price">
                    <el-input v-model="product_Info.price"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="PDialogVisible = false">Cancel</el-button>
            </span>
      </el-dialog>
        <!-- 添加至购物车 -->
      <el-dialog
            title="Add Cart"
            :visible.sync="cartDialogVisible"
            width="25%">
            <el-form :model="CartQuantity" :ref="CartQuantity" label-width="150px">
                <el-form-item label="Cart quantity" prop="quantity">
                    <el-input v-model="CartQuantity.input"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="cartDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addCart()">Confirm</el-button>
            </span>
        </el-dialog>
      </el-card>   
    </div>
</template>

<script>
import api from '../http/api';

export default {
  name:'CategoryProduct4',
  data () {
    return {
      // 获取用户列表的参数对象
      queryInfo: {
        // 查询参数
        query: '',
        // 当前的页码数
        pagenum: 1,
        // 每页显示多少条数据
        pagesize: 2
      },
      // 获取的产品列表
      productList: [],
      // 总数
      total: 0,
      // 控制对话框的显示与隐藏，默认为隐藏
      PDialogVisible: false,
      cartDialogVisible: false,
      // 添加用户的表单数据
      product_Info: {
        product_id: '',
        product_name: '',
        category_id: '',
        size: '',
        amount: '',
        category_name: '',
        price:'',
      },
      CartQuantity:{
        p_id:'',
        input:'',
        quantity:'',
      },
      searchInfo:{
        sInfo:'',
      }
    }
  },
  created () {
    this.getproductList()
  },
  methods: {
    // 搜索产品
    async searchProduct(){
      try{
        let result = await api.searchProduct(
          {keyword:this.searchInfo.sInfo},
        )
        this.productList = result.data.data;
        console.log(result);
      }catch(error){
        console.log(error);
      }
    },
    // 获取所有产品列表
    async getproductList () {
      try{
        let result = await api.getCategoryList(
          {category_id:'4'},
        )
        this.productList = result.data.data;
        console.log(result);
      }catch(error){
        console.log(error);
      }
    },

    // 监听 pageSize 改变的事件
    handleSizeChange (newSize) {
    //   console.log(newSize)
    //  将监听接受到的每页显示多少条的数据 newSzie 赋值给 pagesize
      this.queryInfo.pagesize = newSize
      //  修改完以后，重新发起请求获取一次数据
      this.getproductList()
    },
    // 监听 页码值  改变的事件
    handleCurrentChange (newPage) {
    //   console.log(newPage)
    //  将监听接受到的页码值的数据 newPage 赋值给 pagenum
      this.queryInfo.pagenum = newPage
      //  修改完以后，重新发起请求获取一次数据
      this.getproductList()
    },
    // 监听添加用户对话框的关闭事件
    addDialogClosed () {
      this.$refs.addFormRef.resetFields()
    },
    // 展示产品详情的对话框
    async showProductInfo(product_id) {
      try{
        let result = await api.getProductDetail(
          {
            product_id:product_id,
          }
        )
        this.PDialogVisible = true,
        this.product_Info=result.data.data,
        console.log(result);
      }catch(error){
        console.log(error);
      }
    },
    // 添加购物车
    showCartQuantity(product_id){
      this.cartDialogVisible = true;
      this.CartQuantity.p_id=product_id;
    },
    async addCart(){
      try{
        let result = await api.addProductCart(
          {
            product_id:this.$data.CartQuantity.p_id,
            quantity:this.$data.CartQuantity.input,
          },
          {token:localStorage.getItem('Token')},
        )
        this.cartDialogVisible=false;
        console.log(result);
      }catch(error){
        console.log(error);
      }
    }
  }
}
</script>

<style scoped>

</style>
