<template>
    <div id="customer">
        <el-container class="container">
            <el-header class="context-header" direction="horizontal">
                <div>
                    <el-button type="primary" icon="el-icon-user" @click="goToUserInfo" circle></el-button>
                </div>
                <div>
                    <el-button type="primary" icon="el-icon-shopping-cart-1" @click="goToCart" circle></el-button>
                </div>
                <div>
                    <el-button type="primary" icon="el-icon-s-home" @click="goToShopping" circle></el-button>
                </div>
            </el-header>
            <el-main class="context-main">
                <router-view/>
            </el-main>
        </el-container>
    </div>
</template>
<script>
export default{
    methods:{
        goToUserInfo(){
            this.$router.push('../user')
        },
        goToShopping(){
            this.$router.push('../shopping')
        },
        goToCart(){
            this.$router.push('../cart')
        }
    }
}

</script>
<style>
#customer {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.context {
  flex: 1
}
.context-main {
  height: calc(100% - 120px);
}
.context-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.user-icon {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 18px;
}
.aside {
  height: 100%;
  border-right: #e6e6e6 1px solid;
  /* background: #409EFF; */
}
.context-footer {
  border-top: 1px solid #e6e6e6;
}
</style>