<template>
    <div style="display: flex; justify-content: center; margin-top:150px">
        <el-card style="width: 400px">
            <div slot="header" class="clearfix">
                <div class="tab">
                    <el-tabs v-model="activeName">
                        <el-tab-pane label="Customer" name="first" :key="'first'">
                                <table>
                                    <br>
                                    <tr>
                                        <td>User ID</td>
                                        <td>
                                            <el-input v-model="user.username" placeholder="User ID"></el-input>
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td>Password</td>
                                        <td>
                                            <el-input type="password" v-model="user.password" show-password placeholder="Password"></el-input>
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td colspan="2">
                                            <el-button style="width: 300px" type="primary" @click="Customerlogin">Sign in</el-button>
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td colspan="2">
                                            <el-button style="width: 300px" @click="CdialogVisible=true">Sign up</el-button>
                                        </td>
                                    </tr>
                                </table>
                        </el-tab-pane>
                        <el-tab-pane label="Staff" name="second" :key="'second'">
                                <table>
                                    <br>
                                    <tr>
                                        <td>Staff ID</td>
                                        <td>
                                            <el-input v-model="staff.staff_id" placeholder="Staff ID"></el-input>
                                        </td>
                                    </tr>
                                    <br>
                                    <!-- <tr>
                                        <td>Middle name</td>
                                        <td>
                                            <el-input v-model="staff.lastName" placeholder="Last name"></el-input>
                                        </td>
                                    </tr>
                                    <br> -->
                                    <!-- <tr>
                                        <td>Last name</td>
                                        <td>
                                            <el-input v-model="staff.middleName" placeholder="Middle name"></el-input>
                                        </td>
                                    </tr>
                                    <br> -->
                                    <tr>
                                        <td>Password</td>
                                        <td>
                                            <el-input type="password" v-model="staff.password" show-password placeholder="Password"></el-input>
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td colspan="2">
                                            <el-button style="width: 300px" type="primary" @click="Stafflogin">Sign in</el-button>
                                        </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td colspan="2">
                                            <el-button style="width: 300px" @click="SdialogVisible=true">Sign up</el-button>
                                        </td>
                                    </tr>
                                </table>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </div>
        </el-card>
        <el-dialog
            title="Add customer register"
            :visible.sync="CdialogVisible"
            width="25%">
            <el-form :model="addCustomer" :rules="addCustomerRules" ref="addCustomer" label-width="150px">
                <el-form-item label="Customer ID" prop="customer_name">
                    <el-input v-model="addCustomer.customer_name"></el-input>
                </el-form-item>
                <el-form-item label="Password" prop="password">
                    <el-input v-model="addCustomer.password" show-password placeholder="Password"></el-input>
                </el-form-item>
                <el-form-item label="Street" prop="street">
                    <el-input v-model="addCustomer.street"></el-input>
                </el-form-item>
                <el-form-item label="State" prop="state">
                    <el-input v-model="addCustomer.state"></el-input>
                </el-form-item>
                <el-form-item label="City" prop="city">
                    <el-input v-model="addCustomer.city"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="CdialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="CustomerRegister()">Confirm</el-button>
            </span>
        </el-dialog>
        <el-dialog
            title="Add Staff register"
            :visible.sync="SdialogVisible"
            width="25%">
            <el-form :model="addStaff" :rules="addStaffRules" ref="addStaff" label-width="150px">
                <el-form-item label="First name" prop="firstName">
                    <el-input v-model="addStaff.firstName"></el-input>
                </el-form-item>
                <el-form-item label="Last name" prop="lastName">
                    <el-input v-model="addStaff.lastName"></el-input>
                </el-form-item>
                <el-form-item label="Middle name" prop="middleName">
                    <el-input v-model="addStaff.middleName"></el-input>
                </el-form-item>
                <el-form-item label="Password" prop="password">
                    <el-input v-model="addStaff.password" show-password placeholder="Password"></el-input>
                </el-form-item>
                <el-form-item label="Job title" prop="jobTitle">
                    <el-input v-model="addStaff.jobTitle"></el-input>
                </el-form-item>
                <el-form-item label="Salary" prop="salary">
                    <el-input v-model="addStaff.salary"></el-input>
                </el-form-item>
                <el-form-item label="Street" prop="street">
                    <el-input v-model="addStaff.street"></el-input>
                </el-form-item>
                <el-form-item label="State" prop="state">
                    <el-input v-model="addStaff.state"></el-input>
                </el-form-item>
                <el-form-item label="City" prop="city">
                    <el-input v-model="addStaff.city"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="SdialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="StaffRegister()">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import api from '../http/api';

export default{
    name:"login",
    methods:{
        registerSuccess(){
            this.$message({
                message:'Register Success!',
                type:'success'
            })
        },
        LoginSuccess(){
            this.$message({
                message:'Login Success',
                type:'success'
            })
        },

        //跳转管理页面
        goToManagement(){
            this.$router.push('/management')
        },
        //跳转购物页面
        goToCustomer(){
            this.$router.push('/customer')
        },

        //点击登录调用接口
        async Customerlogin(){
            try{
                let result = await api.login({
                    customer_name:this.$data.user.username,
                    password:this.$data.user.password,
                })
                if(result.data.code==0){
                    localStorage.setItem('Token',result.data.data);
                    this.goToCustomer();
                    this.LoginSuccess();
                    console.log(result)
                }else{
                    console.log('登录失败')
                }
            }catch(error){
                console.log(error);
            }
        },
        //Customer register
        async CustomerRegister(){
            // 顾客注册接口 
            try{
                let result = await api.register({
                    customer_name:this.$data.addCustomer.customer_name,
                    password:this.$data.addCustomer.password,
                    street:this.$data.addCustomer.street,
                    state:this.$data.addCustomer.state,
                    city:this.$data.addCustomer.city,
                })
                this.CdialogVisible=false;
                console.log(result);
                this.registerSuccess();
            }catch(error){
                console.log(error);
            }
        },
        // staff register
        async StaffRegister(){
            // staff注册接口 
            try{
                let result = await api.staffRegister({
                    first_name:this.$data.addStaff.firstName,
                    last_name:this.$data.addStaff.lastName,
                    middle_name:this.$data.addStaff.middleName,
                    salary:this.$data.addStaff.salary,
                    job_title:this.$data.addStaff.jobTitle,
                    password:this.$data.addStaff.password,                    
                    street:this.$data.addStaff.street,
                    state:this.$data.addStaff.state,
                    city:this.$data.addStaff.city,
                })
                this.SdialogVisible=false;
                this.registerSuccess();
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },
        // staff login
        async Stafflogin(){
            try{
                let result = await api.staffLogin({
                    staff_id:this.$data.staff.staff_id,
                    //first_name:this.$data.staff.firstName,
                    //middle_name:this.$data.staff.middleName,
                    //last_name:this.$data.staff.lastName,
                    password:this.$data.staff.password,
                })
                if(result.data.code==0){
                    localStorage.setItem('staffToken',result.data.data);
                    this.goToManagement();
                    this.LoginSuccess();
                    console.log(result)
                }else{
                    console.log('登录失败')
                }
            }catch(error){
                console.log(error);
            }
        },
    },
    data(){
		return{

            //默认客户登录页面
            activeName: 'first',

            //注册页面显示
            CdialogVisible: false,
            SdialogVisible: false,

			input: '',
			user:{
				username:'',
				password:'',
            },
            staff:{
                staff_id:'',
                firstName: '',
                lastName:'',
                middleName:'',
                password:'',
            },
            addCustomer: {
                customer_name: '',
                password: '',
                street:'',
                state:'',
                city:'',
            },
            addCustomerRules:{
                customer_name:[
                    {required: true,  massage: 'Please enter the User ID', trigger: 'blur'},
                    {min: 3, max: 20, message: 'The length is between 3 and 20 characters',tigger: 'blur'}
                ],
                password:[
                    {required: true,  massage: 'Please enter the Password', trigger: 'blur'},
                    {min: 3, max: 20, message: 'The length is between 3 and 20 characters',tigger: 'blur'}
                ],
            },

            addStaff: {
                firstName: '',
                lastName:'',
                middleName:'',
                salary:'',
                jobTitle:'',
                password: '',
                street:'',
                state:'',
                city:'',
            },
            addStaffRules:{
                salary:[
                    {required: true,  massage: 'Please enter the User ID', trigger: 'blur'},
                    {min: 0, max: 99999, message: 'It has to be greater than 0',tigger: 'blur'}
                ],
                password:[
                    {required: true,  massage: 'Please enter the Password', trigger: 'blur'},
                    {min: 3, max: 20, message: 'The length is between 3 and 20 characters',tigger: 'blur'}
                ],
            },
		}
	},
};

</script>

<style>

</style>


