<template>
  <div id="management">
    <el-container direction="horizontal" class="container">
      <el-aside class="aside">
        <el-menu :default-openeds="['1', '3']">
          <el-submenu index="1">
            <template slot="title"><i class="el-icon-s-unfold"></i>NAVIGATION</template>
            <el-menu-item-group>
              <el-menu-item index="1-1" @click="goToWarehouse">Warehouse Management</el-menu-item>
              <el-menu-item index="1-2" @click="goToProduct">Product Management</el-menu-item>
              <el-menu-item index="1-3" @click="goToStaff">Staff info</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
        <div class="context">
          <el-main class="context-main">
            <router-view></router-view>
        </el-main>
      </div>
    </el-container>
  </div>
</template>

<script>
import api from '../http/api';

export default {
  methods: {
    goToWarehouse() {
      this.$router.push('/warehouse')
    },
    goToProduct() {
      this.$router.push('/product')
    },
    goToStaff() {
      this.$router.push('/staff')
    },
  },

};
</script>

<style>
#management {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.context {
  flex: 1
}
.context-main {
  height: calc(100% - 120px);
}
.context-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.user-icon {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 18px;
}
.aside {
  height: 100%;
  border-right: #e6e6e6 1px solid;
  /* background: #409EFF; */
}
.context-footer {
  border-top: 1px solid #e6e6e6;
}
</style>
