<template>
  <div>
    <!-- 面包屑导航区域 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/login' }">Home</el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/management' }">Management</el-breadcrumb-item>
      <el-breadcrumb-item>Product</el-breadcrumb-item>
    </el-breadcrumb>
    <br />
    <!-- card view -->
    <el-card class="box-card">
      <!-- Search and Add -->
      <el-row :gutter="20">
        <el-col :span="4">
          <el-button type="primary" @click="addProductDialogVisible = true"
            >Add Product</el-button
          >
        </el-col>
      </el-row>
      <br />
      <!-- 用户列表区域 -->
      <el-table :data="productList" :stripe="true" :border="true">
        <el-table-column prop="product_id" label="Product ID"></el-table-column>
        <el-table-column prop="category_id" label="Category id"></el-table-column>
        <el-table-column prop="product_name" label="Product name"></el-table-column>
        <el-table-column prop="amount" label="Amount"></el-table-column>
        <el-table-column prop="size" label="Size"></el-table-column>
        <el-table-column prop="type" label="Type"></el-table-column>
        <el-table-column prop="content" label="Content"></el-table-column>
        <el-table-column prop="state" label="state"></el-table-column>
        <el-table-column prop="price" label="Price"></el-table-column>
        <el-table-column label="operation">
          <template slot-scope="scope">
            <!-- 修改 -->
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="showEditProduct(scope.row.product_id)"
            ></el-button>
            <!-- 删除 -->
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="deleteProduct(scope.row.product_id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.pagenum"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </el-card>

    <!-- 添加仓库对话框 -->
    <el-dialog
      title="Add Product"
      :visible.sync="addProductDialogVisible"
      width="25%">
      <!-- 内容的主体区域 -->
      <el-form ref="addForm" :model="addForm" :rules="addForm" label-width="150px">
        <el-form-item label="Category ID" prop="categoryID">
          <el-input v-model="addForm.categoryID"></el-input>
        </el-form-item>
        <el-form-item label="Product Name" prop="productName">
          <el-input v-model="addForm.productName"></el-input>
        </el-form-item>
        <el-form-item label="Amount" prop="amount">
          <el-input v-model="addForm.amount"></el-input>
        </el-form-item>
        <el-form-item label="Size" prop="size">
          <el-input v-model="addForm.size"></el-input>
        </el-form-item>
        <el-form-item label="Type" prop="type">
          <el-input v-model="addForm.type"></el-input>
        </el-form-item>
        <el-form-item label="Content" prop="content">
          <el-input v-model="addForm.content"></el-input>
        </el-form-item>
        <el-form-item label="state" prop="state">
          <el-input v-model="addForm.state"></el-input>
        </el-form-item>
        <el-form-item label="Price" prop="price">
          <el-input v-model="addForm.price"></el-input>
        </el-form-item>
        <el-form-item label="Warehouse ID" prop="warehouse_id">
          <el-input v-model="addForm.warehouse_id"></el-input>
        </el-form-item>
        <el-form-item label="Quantity" prop="quantity">
          <el-input v-model="addForm.quantity"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addProductDialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="AddProduct()">Confirm</el-button>
      </span>
    </el-dialog>

    <!-- 修改仓库对话框 -->
    <el-dialog
      title="Edit Warehouse"
      :visible.sync="editProductDialogVisible"
      width="50%">
      <el-form
        :model="editForm"
        :rules="editForm"
        ref="editForm"
        label-width="150px">
        <el-form-item label="Category ID" prop="categoryID">
          <el-input v-model="editForm.categoryID"></el-input>
        </el-form-item>
        <el-form-item label="Product Name" prop="productName">
          <el-input v-model="editForm.productName"></el-input>
        </el-form-item>
        <el-form-item label="Amount" prop="amount">
          <el-input v-model="editForm.amount"></el-input>
        </el-form-item>
        <el-form-item label="Size" prop="size">
          <el-input v-model="editForm.size"></el-input>
        </el-form-item>
        <el-form-item label="Type" prop="type">
          <el-input v-model="editForm.type"></el-input>
        </el-form-item>
        <el-form-item label="Content" prop="content">
          <el-input v-model="editForm.content"></el-input>
        </el-form-item>
        <el-form-item label="State" prop="state">
          <el-input v-model="editForm.state"></el-input>
        </el-form-item>
        <el-form-item label="Price" prop="price">
          <el-input v-model="editForm.price"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editProductDialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="editProduct()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import api from "../http/api";

export default {
  data() {
    return {
      // 获取用户列表的参数对象
      queryInfo: {
        // 查询参数
        query: "",
        // 当前的页码数
        pagenum: 1,
        // 每页显示多少条数据
        pagesize: 2,
      },
      // 获取的用户列表
      productList: [],
      // 总数
      total: 0,
      // 控制添加用户对话框的显示与隐藏，默认为隐藏
      addProductDialogVisible: false,
      editProductDialogVisible: false,
      // 添加用户的表单数据
      addForm: {
        categoryID: '',
        productName: '',
        amount: '',
        size: '',
        type: '',
        content: '',
        state: '',
        price: '',
        warehouse_id:'',
        quantity:'',
      },
      editForm: {
        p_id: '',
        categoryID: '',
        productName: '',
        amount: '',
        size: '',
        type: '',
        content: '',
        state: '',
        price: '',
      },
      // 查询到的用户信息对象
      editForm: {},
    };
  },
  created() {
    this.getproductList();
  },
  methods: {
    // message
    AddSuccess(){
      this.$message({
        message:'Add success',
        type:'success'
      })
    },

    // 刷新
    get() {
      this.$router.go(0);
    },
    // 获取商品列表
    async getproductList() {
      try {
        let result = await api.getProduct(
          {},
          { token: localStorage.getItem("staffToken") }
        );
        this.productList = result.data.data;
        console.log("获取成功");
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
    // 添加商品
    showAddProduct() {
      this.addProductDialogVisible = true;
    },
    async AddProduct() {
      try {
        let result = await api.addProduct(
          {
            product_name: this.$data.addForm.productName,
            amount: this.$data.addForm.amount,
            category_id: this.$data.addForm.categoryID,
            size: this.$data.addForm.size,
            type: this.$data.addForm.type,
            content: this.$data.addForm.content,
            state: this.$data.addForm.state,
            price: this.$data.addForm.price,
            warehouse_id:this.$data.addForm.warehouse_id,
            quantity:this.$data.addForm.quantity,
          },
          { token: localStorage.getItem("staffToken") }
        );
        this.addProductDialogVisible = false;
        //this.get();
        console.log("新增成功");
      } catch (error) {
        console.log(error);
      }
    },
    // 删除商品
    async deleteProduct(product_id) {
      try {
        let result = await api.deleteProduct(
          { product_id: product_id },
          { token: localStorage.getItem("staffToken") }
        );
        console.log("删除成功");
        console.log(result);
        //this.get();
      } catch (error) {
        console.log(error);
      }
    },
    // 编辑商品
    showEditProduct(product_id) {
      this.editProductDialogVisible = true;
      this.editForm.p_id = product_id;
    },
    async editProduct() {
      try {
        let result = await api.updateProduct(
          {
            product_name: this.editForm.productName,
            amount: this.editForm.amount,
            category_id: this.editForm.categoryID,
            size: this.editForm.size,
            type: this.editForm.type,
            content: this.editForm.content,
            state: this.editForm.state,
            price: this.editForm.price,
            product_id: this.editForm.p_id,
          },
          { token: localStorage.getItem("staffToken") }
        );
        console.log("编辑成功");
        this.editProductDialogVisible = false,
        this.get();
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },

    // 监听 pageSize 改变的事件
    handleSizeChange(newSize) {
      //   console.log(newSize)
      //  将监听接受到的每页显示多少条的数据 newSzie 赋值给 pagesize
      this.queryInfo.pagesize = newSize;
      //  修改完以后，重新发起请求获取一次数据
      this.getproductList();
    },
    // 监听 页码值  改变的事件
    handleCurrentChange(newPage) {
      //   console.log(newPage)
      //  将监听接受到的页码值的数据 newPage 赋值给 pagenum
      this.queryInfo.pagenum = newPage;
      //  修改完以后，重新发起请求获取一次数据
      this.getproductList();
    },
  },
};
</script>

<style scoped></style>
