<template>
    <div>
        <el-container>
            <el-aside width="200px" class="aside">
                <el-menu>
                    <el-menu-item-group>
                        <el-menu-item @click="goToCategory1">Cell Phones/Accessories</el-menu-item>
                        <el-menu-item @click="goToCategory2">Computers/Cameras</el-menu-item>
                        <el-menu-item @click="goToCategory3">Fashion/Clothing</el-menu-item>
                        <el-menu-item @click="goToCategory4">Home/Kitchen</el-menu-item>
                    </el-menu-item-group>
                </el-menu>
            </el-aside>
            <el-main class="main">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/login' }">Home</el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ path: '/customer' }">Customer</el-breadcrumb-item>
                    <el-breadcrumb-item>Shopping</el-breadcrumb-item>
                </el-breadcrumb>
                <br>
                <el-card>
                    <router-view/>
                </el-card>
                
            </el-main>
        </el-container>
    </div>
</template>
<script>
import api from '../http/api';

export default {
    // 获取分类列表
    methods:{
        // go to category1
        goToCategory1(){
            this.$router.push('/categoryProduct1')
        },
        // go to category2
        goToCategory2(){
            this.$router.push('/categoryProduct2')
        },
        // go to category3
        goToCategory3(){
            this.$router.push('/categoryProduct3')
        },
        // go to category4
        goToCategory4(){
            this.$router.push('/categoryProduct4')
        },
        // 获取分类列表
        async getCategory(){
            try{
                let result = await api.getCategory(
                    {},
                )
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },
        // 获取商品
        async getCateList1(){
            try{
                let result = await api.getCategoryList(
                    {category_id:'1'},
                )
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },
        async getCateList2(){
            try{
                let result = await api.getCategoryList(
                    {category_id:'2'},
                )
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },
        async getCateList3(){
            try{
                let result = await api.getCategoryList(
                    {category_id:'3'},
                )
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },
        async getCateList4(){
            try{
                let result = await api.getCategoryList(
                    {category_id:'4'},
                )
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },

    },
    data(){
        return{
            category_id:{
                category1_id:'1',
                category2_id:'2',
                category3_id:'3',
                category4_id:'4',
            }
        }
    }
}
</script>
<style scoped>
.aside {
  height: 100%;
  border-right: #e6e6e6 1px solid;

}
.main {
  height: calc(100% - 120px);
}
</style>