<template>
    <div>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/login' }">Home</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/management' }">Management</el-breadcrumb-item>
            <el-breadcrumb-item>Staff</el-breadcrumb-item>
        </el-breadcrumb>
        <br>
        <!-- 卡片视图区域 -->
        <el-card class="box-card">
            <el-row :gutter="20">
                <el-col :span="4">
                    <el-button type="primary" @click="staffInfo">Get staff Info</el-button>
                </el-col>
            </el-row>
            <br>
            <el-form ref="staffForm" :model="staffForm" label-width="130px">
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="Staff ID" prop="staff_id">
                            <el-input v-model="staffForm.staff_id"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Address ID" prop="address_id">
                            <el-input v-model="staffForm.address_id"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>                
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="First Name" prop="first_name">
                            <el-input v-model="staffForm.first_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Last Name" prop="last_name">
                            <el-input v-model="staffForm.last_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Middle Name" prop="middle_name">
                            <el-input v-model="staffForm.middle_name"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="Salary" prop="salart">
                            <el-input v-model="staffForm.salary"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Job title" prop="job_title">
                            <el-input v-model="staffForm.job_title"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Password" prop="password">
                            <el-input v-model="staffForm.password"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="State" prop="state">
                            <el-input v-model="staffForm.state"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="City" prop="city">
                            <el-input v-model="staffForm.city"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Street" prop="street">
                            <el-input v-model="staffForm.street"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
        <el-card class="box-card">
            <el-row :gutter="20">
                <el-col :span="4">
                    <el-button type="primary" @click="editStaffInfo">Edit staff Info</el-button>
                </el-col>
            </el-row>
            <br>
            <el-form ref="updateForm" :model="updateForm" label-width="130px">        
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="First Name" prop="first_name">
                            <el-input v-model="updateForm.first_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Last Name" prop="last_name">
                            <el-input v-model="updateForm.last_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Middle Name" prop="middle_name">
                            <el-input v-model="updateForm.middle_name"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="State" prop="state">
                            <el-input v-model="updateForm.state"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="City" prop="city">
                            <el-input v-model="updateForm.city"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Street" prop="street">
                            <el-input v-model="updateForm.street"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
    </div>
</template>

<script>
import api from'../http/api';

export default {
    methods:{
        // 获取staff info
        async staffInfo(){
            try{
                let result = await api.getStaffInfo(
                    {},
                    {token:localStorage.getItem('staffToken')}
                )
                console.log(result);
                console.log('获取成功');
                this.staffForm = result.data.data;
            }catch(error){
                sonsole.log(error);
            }
        },
        // 编辑staff info
        async editStaffInfo(){
            try{
                let result = await api.updateStaffInfo(
                    {first_name:this.updateForm.first_name,
                    middle_name:this.updateForm.middle_name,
                    last_name:this.updateForm.last_name,
                    street:this.updateForm.street,
                    state:this.updateForm.state,
                    city:this.updateForm.city},
                    {token:localStorage.getItem('staffToken')},
                )
                console.lot('编辑成功')
                console.log(result);
            }catch(error){
                console.log(error);
            };
        }




    },
    data () {

        return {


            staffForm: {
                staff_id:'',
                address_id:'',
                first_name: '',
                last_name: '',
                middle_name: '',
                salary: '',
                job_title: '',
                password: '',
                state: '',
                city: '',
                street: '',
            },
            updateForm: {
                staff_id:'',
                address_id:'',
                first_name: '',
                last_name: '',
                middle_name: '',
                salary: '',
                job_title: '',
                password: '',
                state: '',
                city: '',
                street: '',
            }
        }
    },
}
</script>

<style scoped>

</style>

