<template>
    <div>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/login' }">Home</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/customer' }">Customer</el-breadcrumb-item>
            <el-breadcrumb-item>User</el-breadcrumb-item>
        </el-breadcrumb>
        <br>
        <!-- 卡片视图区域 -->
        <el-card class="box-card">
            <el-row :gutter="20">
                <el-col :span="4">
                    <el-button type="primary" @click="getCustomerInfo">Get User info</el-button>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="addCardDialogVisible=true">Add Credit Card</el-button>
                </el-col>
            </el-row>
            <br>
            <el-form ref="form" :model="form" label-width="130px">
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="Customer name" prop="customer_name">
                            <el-input v-model="form.customer_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Password" prop="password">
                            <el-input v-model="form.password"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="State" prop="state">
                            <el-input v-model="form.state"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="City" prop="city">
                            <el-input v-model="form.city"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Street" prop="street">
                            <el-input v-model="form.street"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
        <el-card class="box-card">
            <el-row :gutter="20">
                <el-col :span="4">
                    <el-button type="primary" @click="editCustomerInfo">Edit User Info</el-button>
                </el-col>
            </el-row>
            <br>
            <el-form ref="form" :model="form" label-width="130px">
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="Customer name" prop="customer_name">
                            <el-input v-model="editForm.customer_name"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="State" prop="state">
                            <el-input v-model="editForm.state"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="City" prop="city">
                            <el-input v-model="editForm.city"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Street" prop="street">
                            <el-input v-model="editForm.street"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
        <el-card class="box-card">
            <el-row :gutter="20">
                <el-col :span="4">
                    <el-button type="primary" @click="updatePassword">Update Password</el-button>
                </el-col>
            </el-row>
            <br>
            <el-form ref="form" :model="form" label-width="130px">
                <el-row :gutter="24">
                    <el-col :span="8">
                        <el-form-item label="Password" prop="password">
                            <el-input v-model="UpdatePassword.password"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-card>
        <el-card class="box-card">
            <el-row :gutter="20">
                <el-col :span="4">
                    <el-button type="primary" @click="showAddress">Add Address</el-button>
                </el-col>
            </el-row>
            <br>
            <el-table :data="AddressList" :stripe="true" :border="true">
                <el-table-column prop="address_id" label="Address ID"></el-table-column>                
                <el-table-column prop="state" label="State"></el-table-column>
                <el-table-column prop="city" label="City"></el-table-column>
                <el-table-column prop="street" label="Street"></el-table-column>
                <el-table-column label="operation">
                    <template slot-scope="scope">
                        <!-- 编辑 -->
                        <el-button type="success" icon="el-icon-plus" size="mini" @click="showEditAddress(scope.row.address_id)">Edit</el-button>
                        <!-- 删除 -->
                        <el-button type="danger" icon="el-icon-delete" size="mini" @click="deleteAddressList(scope.row.address_id)">Delete</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-dialog
            title="Add Address"
            :visible.sync="addressDialogVisible"
            width="25%">
            <el-form :model="addAddressForm" :ref="addAddressForm" label-width="150px">
                <el-form-item label="Street" prop="street">
                    <el-input v-model="addAddressForm.street"></el-input>
                </el-form-item>
                <el-form-item label="State" prop="state">
                    <el-input v-model="addAddressForm.state"></el-input>
                </el-form-item>
                <el-form-item label="City" prop="city">
                    <el-input v-model="addAddressForm.city"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addressDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="AddAddress()">Confirm</el-button>
            </span>
        </el-dialog>
        <el-dialog
            title="Edit Address"
            :visible.sync="editAddressDialogVisible"
            width="25%">
            <el-form :model="editAddressForm" :ref="editAddressForm" label-width="150px">
                <el-form-item label="Street" prop="street">
                    <el-input v-model="editAddressForm.street"></el-input>
                </el-form-item>
                <el-form-item label="State" prop="state">
                    <el-input v-model="editAddressForm.state"></el-input>
                </el-form-item>
                <el-form-item label="City" prop="city">
                    <el-input v-model="editAddressForm.city"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editAddressDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="EditAddress()">Confirm</el-button>
            </span>
        </el-dialog>
        <el-dialog
            title="Add Credit Card"
            :visible.sync="addCardDialogVisible"
            width="25%">
            <el-form :model="addCard" :ref="addCard" label-width="150px">
                <el-form-item label="Credit card number" prop="credit_card_no">
                    <el-input v-model="addCard.credit_card_no"></el-input>
                </el-form-item>
                <el-form-item label="Validate" prop="vaild_thru">
                    <el-input v-model="addCard.vaild_thru"></el-input>
                </el-form-item>
                <el-form-item label="CVV" prop="cvv">
                    <el-input v-model="addCard.cvv"></el-input>
                </el-form-item>
                <el-form-item label="Street" prop="street">
                    <el-input v-model="addCard.street"></el-input>
                </el-form-item>
                <el-form-item label="State" prop="state">
                    <el-input v-model="addCard.state"></el-input>
                </el-form-item>
                <el-form-item label="City" prop="city">
                    <el-input v-model="addCard.city"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addCardDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addCreditCard()">Confirm</el-button>
            </span>
        </el-dialog>    
    </div>
</template>
<script>
//调接口
import api from '../http/api';

export default {
    methods:{
        // 获取信息
        async getCustomerInfo(){
            try{
                let result = await api.customerInfo(
                    {},
                    {token:localStorage.getItem('Token')},
                )
                console.log(result);
                this.form = result.data.data
            }catch(error){
                console.log(error);
            };
        },
        //编辑客户信息
        async editCustomerInfo(){
            try{
                let result = await api.updateCustomerInfo(
                    {customer_name:this.editForm.customer_name,
                    street:this.editForm.street,
                    state:this.editForm.state,
                    city:this.editForm.city},
                    {token:localStorage.getItem('Token')},
                )
                console.log(result);
            }catch(error){
                console.log(error);
            };
        },
        // 刷新
        get(){
            this.$router.go(0);
        },
        //更新密码
        async updatePassword(){
            try{
                let result = await api.updateCustomerPassword(
                    {password:this.UpdatePassword.password},
                    {token:localStorage.getItem('Token')},
                )

                console.log(result);
            }catch(error){
                console.log(error);
            };
        },
        // 新增地址
        showAddress(address_id){
            this.addressDialogVisible = true;
        },
        async AddAddress(){
            try{
                let result = await api.addAddressList(
                    {
                        street:this.$data.addAddressForm.street,
                        state:this.$data.addAddressForm.state,
                        city:this.$data.addAddressForm.city,
                    },
                    {token:localStorage.getItem('Token')},
                );
                this.addressDialogVisible = false;
                this.get();
                console.log('新增');
            }catch(error){
                console.log(error)
            }
        },
        // 获取地址
        async getaddressList () {
            try{
                let result = await api.getAddressList(
                    {},
                    {token:localStorage.getItem('Token')},
                )
                this.AddressList = result.data.data;
                console.log('获取地址');
                console.log(result);
            }catch(error){
                console.log(error);
            }
        },
        // 更新地址
        showEditAddress(address_id){
            this.editAddressDialogVisible = true;
            this.editAddressForm.a_id=address_id
        },
        async EditAddress(){
            try{
                let result = await api.updateAddress(
                    {
                        street:this.$data.editAddressForm.street,
                        state:this.$data.editAddressForm.state,
                        city:this.$data.editAddressForm.city,
                        address_id:this.$data.editAddressForm.a_id,
                    },
                    {token:localStorage.getItem('Token')},
                );
                this.editAddressDialogVisible = false;
                this.get();
                console.log('编辑');
            }catch(error){
                console.log(error)
            }
        },
        // 删除地址
        async deleteAddressList(address_id) {
            try {
                let result = await api.deleteAddress(
                { address_id: address_id },
                { token: localStorage.getItem('Token')},
            );
            console.log('删除');
            console.log(result);
            this.get();
            } catch (error) {
                console.log(error);
            }
        },
        // 新增信用卡
        async addCreditCard(){
            try{
                let result = await api.addCredit(
                    {
                        credit_card_no:this.addCard.credit_card_no,
                        vaild_thru:this.addCard.vaild_thru,
                        cvv:this.addCard.cvv,
                        street:this.addCard.street,
                        state:this.addCard.state,
                        city:this.addCard.city,
                    },
                    {token: localStorage.getItem('Token')}
                )
                console.log('新增成功');
                this.addCardDialogVisible=false;
                console.log(result);
            } catch (error) {
                console.log(error);
            }
        }  
    },
    created () {
        this.getaddressList()
    },
    data () {
        return {
            form: {
                customer_name:'',
                password: '',
                state: '',
                city: '',
                street: '',
            },
            editForm: {
                customer_name:'',
                street:'',
                state:'',
                city:'',
            },
            UpdatePassword:{
                password:'',
            },
            addAddressForm:{
                customer_name:'',
                street:'',
                state:'',
                city:'',
            },
            editAddressForm:{
                a_id:'',
                customer_name:'',
                street:'',
                state:'',
                city:'',
            },
            addCard:{
                credit_card_no:'',
                vaild_thru:'',
                cvv:'',
                street:'',
                state:'',
                city:'',
            },
            AddressList:[],
            addressDialogVisible: false,
            editAddressDialogVisible: false,
            addCardDialogVisible:false,
        }
    },
};
</script>