<template>
  <div>
    <!-- 面包屑导航区域 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/login' }">Home</el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/management' }"
        >Management</el-breadcrumb-item
      >
      <el-breadcrumb-item>Warehouse</el-breadcrumb-item>
    </el-breadcrumb>
    <br />
    <!-- card view -->
    <el-card class="box-card">
      <!-- Search and Add -->
      <el-row :gutter="20">
        <el-col :span="4">
          <el-button type="primary" @click="showAddWarehouse()"
            >Add Warehouse</el-button
          >
        </el-col>
      </el-row>
      <br />
      <!-- 仓库列表区域 -->
      <el-table :data="warehouseList" :stripe="true" :border="true">
        <el-table-column prop="warehouse_id" label="warehouse ID"></el-table-column>
        <el-table-column prop="warehouse_name" label="warehouse name"></el-table-column>
        <el-table-column prop="capacity" label="capacity"></el-table-column>
        <el-table-column prop="state" label="state"></el-table-column>
        <el-table-column prop="city" label="city"></el-table-column>
        <el-table-column prop="street" label="street"></el-table-column>
        <el-table-column label="operation">
          <template slot-scope="scope">
            <!-- 修改 -->
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="showEditWarehouse(scope.row.warehouse_id)"
            ></el-button>
            <!-- 删除 -->
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="deletewarehouse(scope.row.warehouse_id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.pagenum"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </el-card>

    <!-- 添加仓库对话框 -->
    <el-dialog
      title="Add Warehouse"
      :visible.sync="addwarehouseDialogVisible"
      width="50%">
      <el-form
        ref="addForm"
        :model="addForm"
        :rules="addForm"
        label-width="150px">
        <el-form-item label="warehouse name" prop="warehouseName">
          <el-input v-model="addForm.warehouseName"></el-input>
        </el-form-item>
        <el-form-item label="capacity" prop="capacity">
          <el-input v-model="addForm.capacity"></el-input>
        </el-form-item>
        <el-form-item label="state" prop="state">
          <el-input v-model="addForm.state"></el-input>
        </el-form-item>
        <el-form-item label="city" prop="city">
          <el-input v-model="addForm.city"></el-input>
        </el-form-item>
        <el-form-item label="street" prop="street">
          <el-input v-model="addForm.street"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addwarehouseDialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="AddWarehouse()">Confirm</el-button>
      </span>
    </el-dialog>
    <!-- 编辑仓库对话框 -->
    <el-dialog
      title="Add Warehouse"
      :visible.sync="editwarehouseDialogVisible"
      width="50%">
      <el-form
        ref="editForm"
        :model="editForm"
        :rules="editForm"
        label-width="150px">
        <el-form-item label="warehouse name" prop="warehouseName">
          <el-input v-model="editForm.warehouseName"></el-input>
        </el-form-item>
        <el-form-item label="capacity" prop="capacity">
          <el-input v-model="editForm.capacity"></el-input>
        </el-form-item>
        <el-form-item label="state" prop="state">
          <el-input v-model="editForm.state"></el-input>
        </el-form-item>
        <el-form-item label="city" prop="city">
          <el-input v-model="editForm.city"></el-input>
        </el-form-item>
        <el-form-item label="street" prop="street">
          <el-input v-model="editForm.street"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editwarehouseDialogVisible = false"
          >Cancel</el-button
        >
        <el-button type="primary" @click="editWarehouse()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import api from "../http/api";

export default {
  data() {
    return {
      // 获取列表的参数对象
      queryInfo: {
        // 查询参数
        query: "",
        // 当前的页码数
        pagenum: 1,
        // 每页显示多少条数据
        pagesize: 2,
      },
      // 获取的仓库列表
      warehouseList: [],
      // 总数
      total: 0,
      // 控制添加仓库对话框的显示与隐藏，默认为隐藏
      addwarehouseDialogVisible: false,
      editwarehouseDialogVisible: false,
      // 添加仓库的表单数据
      addForm: {
        warehouseID: "",
        warehouseName: "",
        capacity: "",
        remainCapacity: "",
        state: "",
        city: "",
        street: "",
      },
      // 编辑仓库表单
      editForm: {
        w_id: "",
        warehouseID: "",
        warehouseName: "",
        capacity: "",
        remainCapacity: "",
        state: "",
        city: "",
        street: "",
      },
      // 查询到的仓库信息对象
      editForm: {},
    };
  },
  created() {
    this.getwarehouseList();
  },
  methods: {
    get() {
      this.$router.go(0);
    },
    // 获取仓库列表
    async getwarehouseList() {
      try {
        let result = await api.getWarehouseList(
          {},
          { token: localStorage.getItem("staffToken") }
        );
        this.warehouseList = result.data.data;
        console.log("获取成功");
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
    // 新增仓库
    showAddWarehouse() {
      this.addwarehouseDialogVisible = true;
    },
    async AddWarehouse() {
      try {
        let result = await api.addWarehouse(
          {
            warehouse_name: this.$data.addForm.warehouseName,
            capacity: this.$data.addForm.capacity,
            street: this.$data.addForm.street,
            state: this.$data.addForm.state,
            city: this.$data.addForm.city,
          },
          { token: localStorage.getItem("staffToken") }
        );
        this.addwarehouseDialogVisible = false;
        this.get();
        console.log("新增成功");
      } catch (error) {
        console.log(error);
      }
    },
    // 删除仓库
    async deletewarehouse(warehouse_id) {
      try {
        let result = await api.deleteWherehouse(
          { warehouse_id: warehouse_id },
          { token: localStorage.getItem("staffToken") }
        );
        console.log("删除成功");
        console.log(result);
        this.get();
      } catch (error) {
        console.log(error);
      }
    },

    // 编辑仓库
    showEditWarehouse(warehouse_id) {
      this.editwarehouseDialogVisible = true;
      this.editForm.w_id = warehouse_id;
    },
    async editWarehouse() {
      try {
        let result = await api.updateWarehouse(
          {
            warehouse_id: this.editForm.w_id,
            warehouse_name: this.editForm.warehouseName,
            capacity: this.editForm.capacity,
            street: this.editForm.street,
            state: this.editForm.state,
            city: this.editForm.city,
          },
          { token: localStorage.getItem("staffToken") }
        );
        console.log("编辑成功");
        this.editwarehouseDialogVisible = false,
        this.get();
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
    // 监听 pageSize 改变的事件
    handleSizeChange(newSize) {
      //   console.log(newSize)
      //  将监听接受到的每页显示多少条的数据 newSzie 赋值给 pagesize
      (this.queryInfo.pagesize = newSize),
        //  修改完以后，重新发起请求获取一次数据
        this.getwarehouseList();
    },
    // 监听 页码值  改变的事件
    handleCurrentChange(newPage) {
      //   console.log(newPage)
      //  将监听接受到的页码值的数据 newPage 赋值给 pagenum
      (this.queryInfo.pagenum = newPage),
        //  修改完以后，重新发起请求获取一次数据
        this.getwarehouseList();
    },

    // 新增仓库列表
    // async addwarehouseList(){

    // }
  },
};
</script>

<style scoped></style>
